# Java & Spring

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Eclipse
.metadata/
.classpath
.project
.settings/
bin/

# IntelliJ
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# Node.js & React

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
bower_components/

# Production build files
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# Cache directories
.cache/
.next/
.sass-cache/
.parcel-cache/
.npm/
.pnpm-store/
yarn.lock
.pnpm-debug.log*

# Test coverage
coverage/

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
